NEXT_PUBLIC_FLINCH_NETWORK=devnet
NEXT_PUBLIC_FLINCH_BASE_RPC=https://rpc.magicblock.app/devnet
NEXT_PUBLIC_FLINCH_GENESIS=EtWTRABZaYq6iMfeYKouRu166VU2xqa1wcaWoxPkrZBG
NEXT_PUBLIC_FLINCH_ENABLE_TRANSACTIONS=false
NEXT_PUBLIC_FLINCH_POOL=
NEXT_PUBLIC_FLINCH_VALIDATOR=
